.titulo {
    color:#1E90FF;
    text-align: center}

.paragrafo {
    background-color:#FFFF00;
        margin-top: 150px;
        padding: 50px;
        text-align: center;
        color:#FF0000 ;
}
.img-center{
    text-align: center;
}